* { margin: 0;
    padding: 0;
    
}

body{ 
    font-family: "trebuchet ms";
    background-image: url("image/diego1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
 }
a{ 
    text-decoration: none; color: #000;
 }


h1 {
    font-size: 70px;
}

.main {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}


ul.menu{
    text-align: center; /* centraliza na horizontal */
}
ul.menu li{
    display: inline-block; /* centraliza na horizontal */
    margin: 10px;
}
ul.menu li a{
    background-color: #2f597e;
    border-radius: 6px;
    padding: 6px 10px;
    color: #fff;
}
ul.menu li a:hover{
    background-color: #263742;
}

.border {
    border-right: 2px solid rgba(0, 0, 0, 0.466);
    border-bottom: 1px solid rgba(0, 0, 0, 0.466);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.329)
}
.caixa {
    max-width: 760px;
    visibility:hidden;
    width: 80%;
    background-color: white;
    margin: 10px auto;
    border: solid rgba(0, 0, 0, 0.459);
    padding: 10px;
}

.div {
    min-width: 204px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.inline {
    display: inline-block;
}

.wrap {
    flex-wrap: wrap;
    
}

.justifycenter {
    justify-content: center;
}

.align {
    align-items: center;
}

.textalign {
    text-align: center;
}

.padding {
    padding: 10px;
    margin: 5px;
}

.paddingtop{
    padding: 15px 0 15px 0;
}

.marginleft {
    margin-left: 10%;
}

.marginauto{
    margin: auto;
}

.minwidth{
    min-width: 88px;
}
